*{
    padding: 0;
    margin: 0;
    color: #ECDFCC;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #1e90ff; /* A more vibrant blue */
    text-align: center;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds shadow for depth */
    position: relative; /* Fixes for sticky positioning */
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the center */
    max-width: 1200px; /* Max width for larger screens */
    margin: 0 auto; /* Center the content */
}

header div a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover */
}

header div a:hover {
    color: #E3FEF7; /* Bright color on hover */
    transform: translateY(-2px); /* Slight lift on hover */
}

.page-title {
    font-size: 24px;
    font-weight: 700;
}

header div a:active {
    transform: translateY(0); /* Reset on click */
}

main {
    background-color: #181C14;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-around; /* Ensure even spacing around buttons */
    gap: 20px; /* Adds space between buttons */
    max-width: 600px;
    width: 100%;
    margin: 0 auto; /* Center the buttons container */
    padding: 20px 0; /* Adds vertical space for breathing room */
}

.buttons button {
    background-color: #007BFF; /* Vibrant blue for the buttons */
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds shadow for depth */
}

.buttons button:hover {
    background-color: #12b700; /* Change to bright yellow on hover */
    transform: translateY(-2px); /* Slight lift effect */
}

.buttons button:active {
    background-color: #12b700; /* Slightly darker yellow on click */
    transform: translateY(0); /* Reset transform */
}

/*
@media (max-width: 768px) {
    .buttons {
        flex-direction: column; /* Stack buttons vertically on smaller screens
        align-items: center;
        gap: 15px;
    }

    .buttons button {
        width: 100%; /* Make buttons full width on smaller screens 
    }
}
*/

footer {
    background-color: green;
    text-align: center;
    padding: 15px 30px;
}
